html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 1200px;
}

#root {
    min-height: 100%;
}

.light {
    background-color: #e8eaed69
}

ul {
    padding-inline-start: 0;
    list-style: none;
}

a {
    cursor: pointer;
}

textarea {
    border-width: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: darkgray;
    transition: background-color 5000s ease-in-out 0s;
}

.jumperLabel {
    margin-top: 2rem;
}

.jumperLabel label {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    /* opacity: .7; */
    z-index: 99;
    transition: transform 200ms, color 600ms;
}

label.jump {
    opacity: .7;
    transform: translate(-13.2%, -25px) scale(0.75);
    /* transition: transform 0.2s */
}

label.jumpCancel {
    transform: translate(0, 0) scale(1);
    /* transition: transform 0.2s */
}

.close {
    position: absolute;
    right: 0;
    padding: 7px;
}

.cursor-pointer {
    cursor: pointer;
}

.light-dark {
    position: absolute;
    right: 111px;
    font-size: .75rem;
    bottom: 0;
}

.Filter > div {
    width: 19%;
}

.Filter ul li > span {
    font-size: 15px
}

.select {
    position: absolute;
    z-index: 999;
    max-height: 500px;
    overflow: auto;
    width: 100%;
    font-size: 12px;
    box-shadow: 0px 6px 9px 2px rgba(0,0,0,0.3);
}

.select li {
    cursor: pointer;
    height: 42px;
}

.light-dark .nav-link {
    padding: .6rem;
}

.light .select li:hover {
    background: #f0f1f5;
}

.light .hovered_list_item {
    background: #f0f1f5;
}

.select li:hover .badge {
    font-size: 100%;
}

.dark .select li {
    background-color: #404040;
    color: darkgray
}

.badge {
    padding: 0.2em 0.4em;
    border-radius: 50%;
    transition: font-size 200ms
}

.dark .select li:hover {
    background: #4a4949;
}

.dark .select li.hovered_list_item {
    background: #4a4949;
}

.vertical_divider {
    width: 1px;
    height: 64%;
}

.price-container svg {
    margin: 0 0 4px 8px
}

/* .light .price-container svg g {
    
} */

.dark .price-container svg g {
    fill: darkgray
}

.Proposal hr {
    border-top-color: var(--green);
    opacity: .2;
}

.Proposal .vertical_divider {
    background-color: var(--green);
    opacity: .2;
}

.Demand hr {
    border-top-color: var(--danger);
    opacity: .2;
}

.Demand .vertical_divider {
    background-color: var(--danger);
    opacity: .2;
}

.light .nav-link.green {
    color: var(--green)
}

.light .nav-link.green:hover, .light .nav-link.green:focus {
    border-bottom-color: var(--green)
}

.light .nav-link.red {
    color: var(--danger)
}

.light .nav-link.red:hover, .light .nav-link.red:focus  {
    border-bottom-color: var(--danger)
}

.dark {
    background-color: var(--body-color-dark);
    color: darkgray;
}

.dark .nav-link {
    color: darkgray;
    border-top: 3px solid var(--body-color-dark);
    border-bottom: 3px solid var(--body-color-dark);
}

.dark .nav-link:hover, .dark .nav-link:focus {
    border-top-color:  darkgray;
}

.dark .nav-link.green {
    color: var(--green)
}

.dark .nav-link.green:hover, .dark .nav-link.green:focus {
    border-top-color: var(--green)
}

.dark .nav-link.red {
    color: var(--danger)
}

.dark .nav-link.red:hover, .dark .nav-link.red:focus  {
    border-top-color: var(--danger)
}

.dark .Navigation {
    background-color: var(--body-color-dark)
}

.dark .card {
    background-color: #404040;
}

.form-control {
    border-width: 0 0 2px;
    border-color: darkgray;
}

.dark .form-control {
    color: darkgray;
    background-color: var(--body-color-dark);
}

.dark .form-control:focus {
    background-color: var(--body-color-dark);
}

.dark .nav {
    border-bottom: 3px solid darkgray;
}

.proposal_demand_container {
    padding: 0 15px;
    width: 100%;
    max-width: 666px;
}

.proposal_demand_container > div {
    cursor: pointer;
}

.Proposal, .Demand {
    perspective: 2000px;
    position: relative;
}

.Proposal .card, .Demand .card {
    height: 211px;
    transform: rotateX(0deg);
    transform: rotateY(0deg);
    transform: rotateZ(0deg);
    transition: transform 700ms ease-out, box-shadow 700ms ease-out;
    box-shadow: 0px 0px 10px 2px rgb(193, 193, 193);
}

.Contacts {
    height: 171px;
    display: flex;
    align-items: center;
}

.Contacts > div {
    width: 100%;
}

.Settings ul {
    margin-top: 100px;
}

.Settings ul li {
    cursor: pointer;
    padding: 1rem;
    white-space: nowrap;
    border-right: 3px solid rgba(0, 0, 0, 0);
    transition: border 300ms
}

.Settings ul li:hover {
    border-right-color: darkgray
}

.Amounts {
    padding: .5rem 0;
    border-radius: .25rem;
    height: 44px;
}

.Amounts.green {
    border: 2px solid var(--green)
}

.Amounts.red {
    border: 2px solid var(--danger)
}

.FullDate {
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: 0;
}

.Comment {
    position: relative;
    height: 20px;
    width: 50%;
}

.Comment span {
    position: absolute;
    font-size: 80%;
    width: 200px;
    /* height: 100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark .dropdown-item:hover, .dark .dropdown-item:focus {
    background-color: #4a4949;
    text-decoration: none
}

.light .dropdown-item:hover, .light .dropdown-item:focus {
    background-color: #f0f1f5;
    text-decoration: none
}

.dark .dropdown-item {
    color: darkgray
}

.light .dropdown-item {
    color: #495057
}

.dark .dropdown-menu {
    background: #404040;
}

.light .dropdown-menu {
    background: #fff
}

.dark .close {
    color: darkgray;
}

.light .close {
    color: #a9a9a9;
}

.dark .modal-content {
    background-color: #404040;
}

.light .modal-content {
    background-color: #fff
}

.dark .read_more {
    background: #404040;
    color: darkgray
}

.light .read_more {
    background: #fff;
}

.Demand .read_more {
    border: 1px solid rgba(220, 53, 65, .2);
}

.Proposal .read_more {
    border: 1px solid rgba(40, 167, 69, .2);
}

.read_more {
    position: absolute;
    bottom: -1px;
    left: 222px;
    box-shadow: none;
    font-size: 80%;
    border-radius: 5px;
}

.forgot_password {
    position: absolute;
    right: 0;
    bottom: -40px;
    padding: 0;
    font-size: 80%;
    opacity: .9;
}

.WarningFromServer {
    position: absolute;
    max-width: 50%;
    top: 100px;
    right: 0;
}

.WarningFromServer div {
    font-size: 20px;
    background: var(--warning);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    left: -15px;
    cursor: pointer;
}

.WarningFromServer ul {
    background: var(--warning);
    list-style-type: disc;
    padding-left: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.left_top {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.WarningFromServer li {
    padding: 5px 10px 5px 0
}

.modal-footer .Contacts {
    height: 50px;
}

.logo {
    height: 16px;
}

.logo:hover {
    height: 18px;
}



@keyframes lds-flickr-opacity {
    0% {
      -webkit-transform: translate(0 0);
      transform: translate(0 0);
      opacity: 1;
    }
    49.99% {
      opacity: 1;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    50% {
      opacity: 0;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @-webkit-keyframes lds-flickr-opacity {
    0% {
      -webkit-transform: translate(0 0);
      transform: translate(0 0);
      opacity: 1;
    }
    49.99% {
      opacity: 1;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    50% {
      opacity: 0;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes lds-flickr {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @-webkit-keyframes lds-flickr {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  .lds-css {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
  }
  .lds-flickr {
    position: relative;
  }
  .lds-flickr div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
  }
  .lds-flickr div:nth-child(1) {
    background: var(--green);
    -webkit-animation: lds-flickr 1s linear infinite;
    animation: lds-flickr 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .lds-flickr div:nth-child(2) {
    background: var(--danger);
    -webkit-animation: lds-flickr 1s linear infinite;
    animation: lds-flickr 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-flickr div:nth-child(3) {
    background: var(--green);
    -webkit-animation: lds-flickr-opacity 1s linear infinite;
    animation: lds-flickr-opacity 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .lds-flickr {
    width: 24px !important;
    height: 24px !important;
    -webkit-transform: translate(-12px, -12px) scale(0.12) translate(12px, 12px);
    transform: translate(-12px, -12px) scale(0.12) translate(12px, 12px);
  }